@media (max-width: 320px) {
/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Logotipo */
.logo img {
    height: 70px;
    width: 70px;
}

/* Paragraphy */
.paragraphy {
    padding-left: 30px;
    font-size: 15px;
}

/* social midia */
.midia-container {
    padding-left: 25px;
    padding-right: 20px;
}
.midia-container li {
    list-style-type: none;
    padding: 20px;
    margin: 15px;
    border: 1px solid #b8b8b8;
    background-color: #cccccc23;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    width: 300px;
}

}
@media (max-width: 768px) {
    .logo {
        margin-top: 40px;
    }
}